html, body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto';
}

h2 {
  word-wrap: break-word;
}

.mainColor  {
  color: #1b3454;
}

.mainBGColor {
  background-color: #23d9a1;
}

.secondaryColor {
  color: #1b3454;
}

.grey {
  color: #767676;
}

h1, h2, h3, h4, h5, p, span {
  color: #1b3454;
  font-family: 'Roboto';
}

a {
  color: #21c190;
}

#app {
  width: 100%;
  height: 100%;
}

#appView {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(9, 1fr) 30px repeat(6, 1fr);
  grid-template-rows: 66px 1fr 70px;
}

#menuView {
  width: 100%;
  height: 100%;
  display: grid;
  grid-column: 1 / 17;
  grid-row: 1;
  z-index: 200;
  border-top: 2px solid #23d9a1;
  border-bottom: 1px solid rgba(34,36,38,.15);
  box-shadow: 0 2px 4px 0 rgba(34,36,38,.12), 0 2px 10px 0 rgba(34,36,38,.15);
}

#menuWrapper {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  height: 100%;
  width: 100%;
}

#menuTitle {
  grid-column: 1 / 2;
  height: 100%;
  width: 100%;
}

#menuTitle img {
  margin: 5px 20px;
  height: 50px;
}

#menuQuestion {
  grid-column: 2 / 14;
}

#questionWrapper {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}

#questionCategory {
  grid-column: 1;
}

#questionBar {
  grid-column: 2 / 15;
}

div.ui.medium.right.labeled.input {
  width: 100%;
}

#questionInput {
  width: 100%;
}

#questionButton {
  grid-column: 16 / 17;
  margin-top: 2px;
}

.questionInputElement {
  margin: 10px 5px;
}

#menuProfile {
  grid-column: 14 / 17;
}

#menuProfileWrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

#profileInbox {
  grid-column: 1;
}

.inbox {
  color: #1b3454;
  cursor: pointer;
}

.inbox:hover {
  color: #CACBCD;
}

#inboxLabel {
  position: relative;
  background-color: #23d9a1;
  top: -15px;
  left: -12px;
  padding: 3px 5px;
}

#inboxList {
  width: 500px;
  max-height: 500px;
  overflow: scroll;
  word-wrap: break-word;
}

.inboxQuestion {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 0;
}

.inboxQuestion:hover {
  text-decoration: underline;
  cursor: pointer;
}

.inboxAnswer {
  margin: 0;
}

#profileUser {
  grid-column: 2;
  text-align: center;
  margin-top: 0.35em;
  margin-left: 0.25em;
  margin-right: 1em;
  margin-bottom: 0.25em;
}

#logInButton {
  margin-top: 5px;
}

#mapView {
  grid-column: 1 / 17;
  grid-row: 2 / 4;
  z-index: 0;
}

#mapWindow {
  width: 100%;
  height: 100%;
}

#postView {
  grid-column: 10 / 17;
  grid-row: 2 / 4;
  z-index: 3;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.back-to-top {
  grid-column: 9;
  grid-row: 3;
  position: relative;
  right: -30px;
  padding: 10px;
  opacity: 0.8;
  z-index: 3;
}

.userQuestionEntryMessage {
  word-break: break-word
}

.ui.raised.segment {
  position: relative;
  width: 100%;
}

.ui.button {
  margin: 8px 0;
  background-color: #1b3454;
  color: white;
}

.ui.button.mainColor {
  background-color: #23d9a1;
}

.ui.label {
  background-color: #23d9a1;
  color: white;
}

.ui.divider:not(.vertical):not(.horizontal) {
  border: 0px;
}

.ui[class*='bottom right attached'].label {
  border-radius: 0;
}

.ui.dropdown>.dropdown.icon:before {
  visibility: hidden;
}

.ui.top.right.pointing.dropdown>.menu {
  margin-top: -0.5em;
  margin-right: 0.5em;

}

.ui.selection.dropdown {
  margin-right: 10px;
  margin-left: 10px;
}

.ui.inverted.raised.center.aligned.segment.unread-notification {
  color: #23d9a1;
  background: #23d9a1;
  cursor: pointer;
}

.ui.header>.ui.label {
  margin: 0;
}

.ui.basic.segment.list-entry {
  padding: 0;
}

i.thumbs.down.circular.icon.grey {
  margin-left: 4px;
}