html, body {
  height: 100vh;
}

h2 {
  word-wrap: break-word;
}

.our-app {
  height: 100vh;
}

.back-to-top {
  position:fixed;
  right:0;
  bottom:0;
  padding: 10px;
  opacity: 0.8;
}

#mapWindow {
  height: 100vh;
  width: 100vw;
}

.post-list {
  height: 100vh;
  overflow-y: scroll;
}

.post-list-loading {
  height: 100vh;
}

div.ui.borderless.fluid.menu {
  margin: 0;
}

div.two.column.row {
  margin: 0;
  padding: 0;
  height: 100%;
}

div.column {
  margin: 0;
  padding: 0;
}

.ui.button {
  margin: 8px 0;
}

.ui.divider:not(.vertical):not(.horizontal) {
  border: 0px;
}

.ui[class*="bottom right attached"].label {
  border-radius: 0;
}