html, body {
  width: 100%;
  height: 100%;
}

h2 {
  word-wrap: break-word;
}

#app {
  width: 100%;
  height: 100%;
}

#appView {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(9, 1fr) 30px repeat(6, 1fr);
  grid-template-rows: 66px 1fr 70px;
}

#menuView {
  width: 100%;
  height: 100%;
  display: grid;
  grid-column: 1 / 17;
  grid-row: 1;
  z-index: 2;
  border-top: 2px solid #23d9a1;
  border-bottom: 1px solid rgba(34,36,38,.15);
  box-shadow: 0 2px 4px 0 rgba(34,36,38,.12), 0 2px 10px 0 rgba(34,36,38,.15);
}

#menuWrapper {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  height: 100%;
  width: 100%;
}

#menuTitle {
  grid-column: 1 / 3;
  height: 100%;
  width: 100%;
}

#menuTitle h1 {
  margin: 10px;
}

#menuQuestion {
  grid-column: 3 / 15;
}

#questionWrapper {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}

#questionCategory {
  grid-column: 1;
}

#questionBar {
  grid-column: 2 / 15;
}

div.ui.medium.right.labeled.input {
  width: 100%;
}

#questionInput {
  width: 100%;
}

#questionButton {
  grid-column: 16 / 17;
  margin-top: 2px;
}

.questionInputElement {
  margin: 10px 5px;
}

#menuProfile {
  grid-column: 15 / 17;
}

#menuProfileWrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

#profileInbox {
  grid-column: 1;
}

#profileUser {
  grid-column: 2;
}

#mapView {
  grid-column: 1 / 17;
  grid-row: 2 / 4;
}

#mapWindow {
  width: 100%;
  height: 100%;
}

#postView {
  grid-column: 10 / 17;
  grid-row: 2 / 4;
  z-index: 3;
  overflow: scroll;
}

.back-to-top {
  grid-column: 9;
  grid-row: 3;
  position: relative;
  right: -30px;
  padding: 10px;
  opacity: 0.8;
  z-index: 3;
}

#optitle {
  grid-column: 1 / 2;
  padding: 10px;
}

div.ui.borderless.fluid.menu {
  margin: 0;
  height: 5%;
}

div.two.column.row {
  margin: 0;
  padding: 0;
  height: 100%;
}

div.column {
  margin: 0;
  padding: 0;
}

div.ten.wide.column {
  padding: 0;
}

.ui.button {
  margin: 8px 0;
}

.ui.divider:not(.vertical):not(.horizontal) {
  border: 0px;
}

.ui[class*="bottom right attached"].label {
  border-radius: 0;
}